html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    color: #232323
}

body,
html {
    margin: 0;
    padding: 0
}

/* each style has its own class holding its css attributes per template */